html, body, #root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;    
  overflow-y: auto;    
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #000000;
  font-family: 'Playfair Display', serif;
    scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      
}
