/* Styles for Rólunk.jsx */

.rolunk-container {
  display: flex;              /* flex helyesen */
  flex-direction: column;     /* fentről lefelé */
  justify-content: flex-start;
  align-items: center;        /* középre vízszintesen */
  padding: 4rem 2rem;         /* belső távolság */
  color: #bd9f67;
  font-family: 'Arial', sans-serif;
  font-weight: 100;
  text-align: start;
  /* height: 100vh; */        /* törölve, hogy auto legyen */
}

/* Intro szöveg címe */
.rolunk-container h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* Animált logó wrapper, ha kell */
.animated-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50px);
}

/* ========== Galéria szekció ========== */
.gallery-section {
  width: 100%;
  max-width: 2000px;
  margin-top: 1rem;
  padding: 5rem 0rem;
}

.gallery-title {
  font-size: 2.5rem;
  color: #d4af37;
  text-align: center;
  margin-bottom: 1.5rem;
}
