.footer {
  background: #1b1b1b;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  gap: 2rem;
  border-top: 2px solid #444;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  align-items: center;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.footer-section {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.footer-logo {
  width: 90px; /* vagy amekkorára szeretnéd */
  margin-top: 16px;
}

.footer-hours {
  gap: 0.8rem;
  font-size: 0.95rem;
  color: #ccc;
  margin-top: 0px;
}

.footer-section.center nav {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.footer-section.center nav a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-section.center nav a:hover {
  color: #e4e4e4;
  background-color: rgba(0, 170, 255, 0);
}

.footer-section.right .social-icons {
  display: flex;
  gap: 1rem;
}

.footer-section.right a {
  color: #aaa;
  font-size: 1.3rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.footer-section.right a:hover {
  color: #0099e0;
  transform: scale(1.2);
}

.footer h4 {
  color: #00aaff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

footer p {
  margin: 0;
}

.payment-logos {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  padding-top: 1.5rem;
}

.payment-logos img {
  height: 30px;
  filter: grayscale(100%) brightness(1.4);
  transition: filter 0.3s ease;
}

.payment-logos img:hover {
  filter: none;
}

.footer-hours ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: #ccc;
}

.footer-hours li {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px dashed #333;
  padding-bottom: 0.2rem;
}

.footer-hours li span {
  color: #eee;
  font-weight: 500;
  min-width: 120px;
}

.footer-section.center nav a {
  color: #ccc;
  text-decoration: none;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  transition: all 0.2s ease;
  font-weight: 500;
}

.footer-section.center nav a:hover {
  color: #1b1b1b;
  background-color: #00aaffe1;
  /* arany helyett kék */
}

footer p.copyright {
  width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 1rem;
  margin-top: 2rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    align-items: center;
  }

  .footer-hours {
    justify-content: center;
  }

  .payment-logos {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .payment-logos img {
    height: 25px;
  }

  .footer-section.center nav {
    gap: 0.6rem;
  }
}