.home-title {
  font-size: clamp(2.2rem, 10vw, 9rem);
  color: #00aaff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-shadow:
    0 0 4px rgba(0, 170, 255, 0.5),
    0 6px 15px rgba(0, 0, 0, 0.4);
  perspective: 1400px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  letter-spacing: 0.15em;
  display: inline-block;
  will-change: transform, opacity, letter-spacing;
  text-align: center;
  line-height: 1.1;
  transition: color 0.3s ease;
  cursor: default;
  user-select: text;
  margin-bottom: 1.5rem;
  padding: 0 5rem;
  word-break: break-word;
}

.highlighted-image {
  display: inline-block;
  max-width: 100%;
  margin-top: 3rem;
  width: 40rem;
  height: auto;
  filter: drop-shadow(0 0 2px rgba(0, 170, 255, 0.7));
  will-change: letter-spacing, opacity;
  transition: filter 0.3s ease;
}

.home-title:hover .highlighted-image {
  filter: drop-shadow(0 0 1px rgba(0, 153, 224, 1));
}


.highlighted-text {
  display: inline-block;
  color: #fff;
  background: linear-gradient(90deg, #00aaff, #0099e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 1px rgba(0, 170, 255, 0.7));
  text-shadow: 0 0 2px rgba(0, 170, 255, 0.7);
  will-change: letter-spacing, opacity;
  transition: filter 0.3s ease;
}

.home-title:hover .highlighted-text {
  filter: drop-shadow(0 0 1px rgba(0, 153, 224, 1));
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -10rem;
}

.sub-title {
  margin-top: -40px;
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: clamp(2rem, 2vw, 1.5rem);
  color: #ffffff90; /* fehér maradt */
  letter-spacing: 0.12em;
  text-shadow:
    0 0 3px rgba(255, 255, 255, 0.6),
    0 2px 5px rgba(0, 0, 0, 0.3);
  user-select: text;
  white-space: nowrap;
}

.highlighted-image {
  display: inline-block;
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0 0 2px rgba(0, 170, 255, 0.7));
  will-change: letter-spacing, opacity;
  transition: filter 0.3s ease;
}


@media (max-width: 768px) {
    .home-title {
    font-size: clamp(3.2rem, 12vw, 6rem); /* nagyobb minimum és maximum */
    margin-bottom: 3rem;
    line-height: 1.2;
    padding: 0 2rem; /* kisebb padding mobilon */
  }

  .sub-title {
    top: -0.8rem;
    left: 0.2rem;
    font-size: clamp(0.8rem, 4vw, 1.8rem); /* nagyobb subtext mobilon */
    text-align: center;
  }
}

.typing-text {
  display: inline-block;
}

.cursor {
  display: inline-block;
  margin-left: 4px;
  color: #ffffffe0;  /* kék árnyalat áttetsző */
  font-weight: 900;
  opacity: 0;
  animation: appear 2s forwards, disappear 0.3s forwards;
  animation-delay: 2.2s, 5s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
